.btn-small {
    font-size: 3px;
    padding: 2px 8px;
}

.btn-large {
    font-size: 24px;
    padding: 15px 30px;
}


body {
    font-family: Arial, sans-serif;
}



/* Swap label positions */
label {
    display: inline-block;
    transform: rotate(180deg);
}

/* Comic Sans for maximum pain */
* {
    font-family: 'Comic Sans MS', cursive !important;
}

.submitbutton::after {
    content: "submit";
}


body.dark-mode {
    background-color: black;
}

body.dark-mode h1 {
    color: black;
}

body.dark-mode h2 {
    color:black;
}

body.dark-mode p {
    /* Forgot to style paragraphs */
}

body.dark-mode input {
    background-color: #111111;
    color: #111111;
    border: 1px solid #111111;
}

body.dark-mode button {
    background-color: pink;
   
}

body.dark-mode label {
    color: #2a2a2a; 
}